*{
  margin: 0%;
  padding: 0%;
}
@font-face {
font-family: font;
src: url(Fonts/Poppins-Bold.ttf);
}

@font-face {
font-family: font1;
src: url(Fonts/Poppins-Medium.ttf);
}

@font-face {
font-family: font2;
src: url(Fonts/Poppins-Regular.ttf);
}

@font-face {
font-family: font3;
src: url(Fonts/Poppins-SemiBold.ttf);
}

.back { 
background-image: url('image assets/PNG/3x/Asset 173x.png');
background-repeat: no-repeat;
background-size: auto;
background-attachment: fixed;
padding: 2% 6% 0%;
background-position: center;


}
.head{
text-align: center;
font-family: font2;
}

#logo {
width: 15%;
}

.whightbg {
background-image: url('image assets/PNG/1x/Asset 18.png') ;
background-repeat: no-repeat;
background-size: 100% ;
background-attachment: fixed;
background-position: center;
padding: 4% 5% 15%;
width:auto;
height: auto;
margin: auto;
border-radius: 30px;

}
#girl {
  float: right;
  margin: 0% 3% 0%;
  width: 41%; 
  
}

.pp {
  font-size: 3vw;
  font-family: font;
  margin: 1% 0% 4%;

}

span{
   color: orange;
}

.ppp p {
font-size: 2vw;
font-family: 'font2';
margin: 1% 0% 4%;
color:  #060641;
}

.head p{
color: white;
font-size: 2vw;
}

#orn {
/* background-image: url('image assets/SVG/Asset 9.svg');
background-repeat: no-repeat;
background-size: 97%;
background-attachment: inherit;
background-position: center;
width: 35%; */
margin: 0% 32% 0%;
padding: 0% 0% 0%;
}
button {
  padding: 6%;
  color: white;
  font-family: 'font2';
  width: 100%;
  font-size: 1.5vw;
  background-color: orangered;
  border-radius: 25px 25px;
  border: none;
}
#orn p{
padding: 6%;
color: white;
font-family: 'font2';
}

.free {
  background-image: url('image assets/PNG/1x/Asset 7.png') ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;
  background-position: center;
}

.free p{
  font-size: 2.5vw;
font-family: 'font1';
color:  #060641;
}

.free img {
float: right;
width: 15vw;
margin: 0%
}

.box1 {
font-family: font1;
padding: 4%;
display: flex;
justify-content: space-between;
}

.box1 span {
font-size:  2.5vw;
font-family: font;
}

.box2 { 
text-align: center;
align-items: center;
padding: 2%;
}

.box2 p{
  font-family: 'font';
  font-size: 2vw;
}

.container3 {
  display: flex;
  justify-content: space-between;

}

.c3 {
  background-image: url('image assets/PNG/1x/Asset 8.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 25%;
  text-align: center;
  padding: 4% 2% 5%;


}

.container3 img {
  align-items: center;
  width: 50%;
}

.c3 p{
  color: black;
  font-size: 2vw;
  margin: 2%;
  padding-top: 4%;
  font-family: 'font2';
}

.para3 {
  text-align: center;
  font-size: 2vw;
  align-items: center;
  margin: 2%;
  font-family: 'font2';
}

.para3 :last-child{
  font-family: 'font';
  color: black;
}

.box4 {
background-image: url('image assets/PNG/1x/Asset 16.png');
background-repeat: no-repeat;
background-size: 100%;
background-attachment: scroll;
background-position: center;
width: 100%;
border-radius: 20px;
}

.box4 { 
float: right;
display: flex;
justify-content: space-between;
}

.box4 img {
align-items: center;
font-size: 9%;
margin: 4% 6% 3%;
width: 21%;
}

.box4a {
padding: 3% 4%;
font-family: 'font2';
}

.box4a p{
font-size: 1.6vw;
}

.foot {
background-image: url('image assets/PNG/1x/Asset 16.png');
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: scroll;
background-position: center;
display: flex;
justify-content: space-between;
}

.blogo {
width: 35%;
margin: 1% 8% ;
}

.blogo img {
  width: 30%;
}

.blogo1 {
display: flex;
justify-content: space-around;
margin: 3% 5%;
width: 21%;
}

.blogo1 img {
 width: 150%;
}





